In [71]:
import pandas as pd #Para importar pandas. Lo puedo renombrar con el AS

In [72]:
# Creando una serie desde una lista
datos_lista = [10, 20, 30, 40, 50]
serie_lista = pd.Series(datos_lista)
print("Series desde una lista:")
print(serie_lista)
print("\nIndice de la serie: ", serie_lista.index)
print("Valores de la serie: ", serie_lista.values)
print("Tipo de datos: ", serie_lista.dtype)

Series desde una lista:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Indice de la serie:  RangeIndex(start=0, stop=5, step=1)
Valores de la serie:  [10 20 30 40 50]
Tipo de datos:  int64

In [73]:
""" Series con Pandas """

# Ejemplo 1: Serie con fechas como índice
fechas = pd.date_range(start='2024-01-01', periods=5)
valores = [10, 20, 15, 25, 30]
serie_fechas = pd.Series(valores, index=fechas)
print("Serie con fechas como índice:\n", serie_fechas)

Serie con fechas como índice:
 2024-01-01    10
2024-01-02    20
2024-01-03    15
2024-01-04    25
2024-01-05    30
Freq: D, dtype: int64

In [74]:
# Ejemplo 2: Serie con etiquetas de texto personalizadas
etiquetas = ['A', 'B', 'C', 'D', 'E']
serie_etiquetas = pd.Series(valores, index=etiquetas)
print("\nSerie con etiquetas de texto:\n", serie_etiquetas)

Serie con etiquetas de texto:
 A    10
B    20
C    15
D    25
E    30
dtype: int64

In [75]:
# Ejemplo 3: Serie a partir de un diccionario
diccionario = {'A': 10, 'B': 20, 'C': 15}
serie_diccionario = pd.Series(diccionario)
print("\nSerie desde un diccionario:\n", serie_diccionario)

Serie desde un diccionario:
 A    10
B    20
C    15
dtype: int64

In [76]:
# Ejemplo 4: Serie con valores mixtos y NaN (Not a Number)
datos_mixtos = [10, 'Hola', 3.14, None, True]
serie_mixta = pd.Series(datos_mixtos)
print("\nSerie con valores mixtos:\n", serie_mixta)
print("\nInformación de la serie mixta:\n", serie_mixta.info())

Serie con valores mixtos:
 0      10
1    Hola
2    3.14
3    None
4    True
dtype: object
<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

Información de la serie mixta:
 None

In [77]:
# Ejemplo 5: Accediendo a elementos de la serie
print("\nAcceso por posición (índice numérico):", serie_etiquetas.iloc[0])
print("\nAcceso por etiqueta:", serie_etiquetas['C'])

Acceso por posición (índice numérico): 10

Acceso por etiqueta: 15

Dataframes
Un DataFrame se puede crear de muchas maneras:

Desde un diccionario de listas o Series: * Cada clave del diccionario se convierte en una columna, y las listas (o Series) asociadas a esas claves se convierten en los datos de esas columnas.

In [78]:
datos_df = { 'Nombre': ['Ana', 'Luis', 'Marta', 'Juan'], 'Edad': [28, 34, 29, 42], 'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla'] } 
df_desde_dic_listas = pd.DataFrame(datos_df) 
print("\nDataFrame desde un diccionario de listas:")
print(df_desde_dic_listas)

DataFrame desde un diccionario de listas:
  Nombre  Edad     Ciudad
0    Ana    28     Madrid
1   Luis    34  Barcelona
2  Marta    29   Valencia
3   Juan    42    Sevilla

Desde un diccionario de listas con índice personalizado:

In [79]:
datos_df = {
      'Manzanas': [3, 2, 0, 1],
      'Naranjas': [0, 3, 7, 2]
            }
indices_df = ['TiendaA', 'TiendaB', 'TiendaC', 'TiendaD']
df_con_indice = pd.DataFrame(datos_df, index = indices_df)
print("\nDataFrame con índice personalizado:")
print(df_con_indice)

DataFrame con índice personalizado:
         Manzanas  Naranjas
TiendaA         3         0
TiendaB         2         3
TiendaC         0         7
TiendaD         1         2

3. Desde una lista de diccionarios:
  * Cada diccionario en la lista se convierte en una fila del DataFrame. Las claves de los diccionarios se convierten en los nombres de las columnas.

In [80]:
lista_de_diccionarios = [
        {'Nombre': 'Carlos', 'Edad': 25, 'Profesion': 'Ingeniero'},
        {'Nombre': 'Laura', 'Edad': 30, 'Profesion': 'Doctora'},
        {'Nombre': 'Pedro', 'Edad': 22} # Nota: Falta 'Profesion' aquí
    ]
df_desde_lista_dic = pd.DataFrame(lista_de_diccionarios)
print("\nDataFrame desde una lista de diccionarios:")
print(df_desde_lista_dic)

DataFrame desde una lista de diccionarios:
   Nombre  Edad  Profesion
0  Carlos    25  Ingeniero
1   Laura    30    Doctora
2   Pedro    22        NaN

4. Desde un array de NumPy (con nombres de columna e índice opcionales):

In [81]:
import numpy as np

In [82]:
array_np = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df_desde_numpy = pd.DataFrame(array_np, columns=['A', 'B', 'C'], index=['Fila1', 'Fila2', 'Fila3'])
print("\nDataFrame desde un array de NumPy:")
print(df_desde_numpy)

DataFrame desde un array de NumPy:
       A  B  C
Fila1  1  2  3
Fila2  4  5  6
Fila3  7  8  9

""" Creando Dataframes desde una lista """

# Ejemplo 1: DataFrame a partir de una lista de listas

In [83]:

data = [['Alice', 25, 'Ingeniera'],
        ['Bob', 30, 'Doctor'],
        ['Charlie', 28, 'Abogada']]
df1 = pd.DataFrame(data, columns=['Nombre', 'Edad', 'Profesión'])
print("DataFrame 1:\n", df1)

DataFrame 1:
     Nombre  Edad  Profesión
0    Alice    25  Ingeniera
1      Bob    30     Doctor
2  Charlie    28    Abogada

In [84]:
# Ejemplo 2: DataFrame a partir de una lista de diccionarios

In [85]:

data = [{'Nombre': 'Alice', 'Edad': 25, 'Profesión': 'Ingeniera'},
        {'Nombre': 'Bob', 'Edad': 30, 'Profesión': 'Doctor'},
        {'Nombre': 'Charlie', 'Edad': 28, 'Profesión': 'Abogada'}]
df2 = pd.DataFrame(data)
print("\nDataFrame 2:\n", df2)

DataFrame 2:
     Nombre  Edad  Profesión
0    Alice    25  Ingeniera
1      Bob    30     Doctor
2  Charlie    28    Abogada

# Ejemplo 3: DataFrame con índice personalizado a partir de una lista de listas

In [86]:
data = [['Alice', 25, 'Ingeniera'],
        ['Bob', 30, 'Doctor'],
        ['Charlie', 28, 'Abogada']]

index_personalizado = ['A', 'B', 'C'] # Índice personalizado

df3 = pd.DataFrame(data, index=index_personalizado, columns=['Nombre', 'Edad', 'Profesión'])
print("\nDataFrame 3 (con índice personalizado):\n", df3)

DataFrame 3 (con índice personalizado):
     Nombre  Edad  Profesión
A    Alice    25  Ingeniera
B      Bob    30     Doctor
C  Charlie    28    Abogada

# Ejemplo 4: DataFrame a partir de una lista de tuplas

In [87]:
data = [('Alice', 25, 'Ingeniera'),
        ('Bob', 30, 'Doctor'),
        ('Charlie', 28, 'Abogada')]
df4 = pd.DataFrame(data, columns=['Nombre', 'Edad', 'Profesión'])
print("\nDataFrame 4 (a partir de tuplas):\n", df4)

DataFrame 4 (a partir de tuplas):
     Nombre  Edad  Profesión
0    Alice    25  Ingeniera
1      Bob    30     Doctor
2  Charlie    28    Abogada

# Creando un DataFrame de ejemplo más completo

In [88]:
datos_ejemplo = { # Datos de ejemplo para crear un DataFrame
    'ID_Producto': [101, 102, 103, 104, 105, 106, 107, 108],
    'Nombre_Producto': ['Manzana', 'Banana', 'Naranja', 'Manzana', 'Uva', 'Pera', 'Banana', 'Kiwi'],
    'Categoría': ['Fruta', 'Fruta', 'Fruta', 'Fruta', 'Fruta', 'Fruta', 'Fruta', 'Fruta'],
    'Precio_Unitario': [1.2, 0.5, 0.8, 1.2, 2.5, 1.5, 0.6, np.nan], # Incluimos un NaN
    'Stock_Disponible': [100, 150, np.nan, 80, 60, 120, 140, 75],  # Incluimos un NaN
    'Fecha_Ingreso': pd.to_datetime(['2024-01-10', '2024-01-11', '2024-01-10', '2024-01-12',
                                   '2024-01-13', '2024-01-11', '2024-01-14', '2024-01-15']),
    'En_Oferta': [False, True, False, False, True, True, False, True]
}

df = pd.DataFrame(datos_ejemplo) # Para crear un DataFrame con los datos de ejemplo

print("DataFrame de ejemplo creado:")
print(df)
display(df) # Mostrar el DataFrame de ejemplo
display(df.describe()) # Mostrar estadísticas descriptivas del DataFrame
print("\n" + "="*50 + "\n")           # Separador visual

DataFrame de ejemplo creado:
   ID_Producto Nombre_Producto Categoría  Precio_Unitario  Stock_Disponible  \
0          101         Manzana     Fruta              1.2             100.0
1          102          Banana     Fruta              0.5             150.0
2          103         Naranja     Fruta              0.8               NaN
3          104         Manzana     Fruta              1.2              80.0
4          105             Uva     Fruta              2.5              60.0
5          106            Pera     Fruta              1.5             120.0
6          107          Banana     Fruta              0.6             140.0
7          108            Kiwi     Fruta              NaN              75.0

  Fecha_Ingreso  En_Oferta
0    2024-01-10      False
1    2024-01-11       True
2    2024-01-10      False
3    2024-01-12      False
4    2024-01-13       True
5    2024-01-11       True
6    2024-01-14      False
7    2024-01-15       True

,ID_Producto,Nombre_Producto,Categoría,Precio_Unitario,Stock_Disponible,Fecha_Ingreso,En_Oferta
0,101,Manzana,Fruta,1.2,100.0,2024-01-10,False
1,102,Banana,Fruta,0.5,150.0,2024-01-11,True
2,103,Naranja,Fruta,0.8,NaN,2024-01-10,False
3,104,Manzana,Fruta,1.2,80.0,2024-01-12,False
4,105,Uva,Fruta,2.5,60.0,2024-01-13,True
5,106,Pera,Fruta,1.5,120.0,2024-01-11,True
6,107,Banana,Fruta,0.6,140.0,2024-01-14,False
7,108,Kiwi,Fruta,NaN,75.0,2024-01-15,True

       ID_Producto  Precio_Unitario  Stock_Disponible        Fecha_Ingreso
count      8.00000         7.000000          7.000000                    8
mean     104.50000         1.185714        103.571429  2024-01-12 00:00:00
min      101.00000         0.500000         60.000000  2024-01-10 00:00:00
25%      102.75000         0.700000         77.500000  2024-01-10 18:00:00
50%      104.50000         1.200000        100.000000  2024-01-11 12:00:00
75%      106.25000         1.350000        130.000000  2024-01-13 06:00:00
max      108.00000         2.500000        150.000000  2024-01-15 00:00:00
std        2.44949         0.681734         34.243526                  NaN

==================================================

Herramientas de Inspección
head(n) y tail(n): Ver las primeras/últimas filas:
Estos métodos te permiten ver una muestra de tus datos, por defecto las primeras 5 filas con head() y las últimas 5 con tail(). Puedes pasar un número n como argumento para ver una cantidad diferente de filas.

In [89]:
print("Primeras 3 filas del DataFrame (df.head(3)):")
display(df.head(3))

print("\nÚltimas 2 filas del DataFrame (df.tail(2)):")
display(df.tail(2))
display("="*50)

Primeras 3 filas del DataFrame (df.head(3)):

,ID_Producto,Nombre_Producto,Categoría,Precio_Unitario,Stock_Disponible,Fecha_Ingreso,En_Oferta
0,101,Manzana,Fruta,1.2,100.0,2024-01-10,False
1,102,Banana,Fruta,0.5,150.0,2024-01-11,True
2,103,Naranja,Fruta,0.8,NaN,2024-01-10,False

Últimas 2 filas del DataFrame (df.tail(2)):

,ID_Producto,Nombre_Producto,Categoría,Precio_Unitario,Stock_Disponible,Fecha_Ingreso,En_Oferta
6,107,Banana,Fruta,0.6,140.0,2024-01-14,False
7,108,Kiwi,Fruta,NaN,75.0,2024-01-15,True

'=================================================='

shape: Dimensiones del DataFrame:
Es un atributo (no un método, por eso no lleva paréntesis) que devuelve una tupla con el número de filas y el número de columnas.

In [95]:
print("Dimensiones del DataFrame (filas, columnas) (df.shape):")
display(df.shape)
print(f"El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.") # Forma alternativa
print("\n" + "="*50 + "\n") # Separador visual

Dimensiones del DataFrame (filas, columnas) (df.shape):

(8, 7)

El DataFrame tiene 8 filas y 7 columnas.

==================================================

info(): Resumen conciso del DataFrame
Este método es extremadamente útil. Proporciona información sobre el índice, las columnas, los tipos de datos de cada columna, la cantidad de valores no nulos y el uso de memoria.

In [91]:
print("Información concisa del DataFrame (df.info()):")
df.info()
print("\n" + "="*50 + "\n")

#Hay 8 filas (entradas).
#Los nombres de las columnas y cuántos valores no nulos tiene cada una (esto ayuda a identificar columnas con datos faltantes, como Precio_Unitario y Stock_Disponible).
#El tipo de dato (Dtype) de cada columna (object usualmente significa string, datetime64[ns] para fechas, etc.).

Información concisa del DataFrame (df.info()):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Producto       8 non-null      int64
 1   Nombre_Producto   8 non-null      object
 2   Categoría         8 non-null      object
 3   Precio_Unitario   7 non-null      float64
 4   Stock_Disponible  7 non-null      float64
 5   Fecha_Ingreso     8 non-null      datetime64[ns]
 6   En_Oferta         8 non-null      bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 524.0+ bytes

==================================================

describe(): Estadísticas descriptivas
Este método genera estadísticas descriptivas para las columnas numéricas por defecto (count, mean, std, min, 25th percentile, median (50th), 75th percentile, max).

In [92]:
print("Estadísticas descriptivas para columnas numéricas (df.describe()):")
display(df.describe()) # Esto muestra estadísticas como count, mean, std, min, 25%, 50%, 75%, max para columnas numéricas.

Estadísticas descriptivas para columnas numéricas (df.describe()):

       ID_Producto  Precio_Unitario  Stock_Disponible        Fecha_Ingreso
count      8.00000         7.000000          7.000000                    8
mean     104.50000         1.185714        103.571429  2024-01-12 00:00:00
min      101.00000         0.500000         60.000000  2024-01-10 00:00:00
25%      102.75000         0.700000         77.500000  2024-01-10 18:00:00
50%      104.50000         1.200000        100.000000  2024-01-11 12:00:00
75%      106.25000         1.350000        130.000000  2024-01-13 06:00:00
max      108.00000         2.500000        150.000000  2024-01-15 00:00:00
std        2.44949         0.681734         34.243526                  NaN

In [93]:
# Para incluir estadísticas de columnas no numéricas (como strings/objects):
print("\nEstadísticas descriptivas para columnas de tipo 'object' (df.describe(include='object')):")
display(df.describe(include='object'))

Estadísticas descriptivas para columnas de tipo 'object' (df.describe(include='object')):

       Nombre_Producto Categoría
count                8         8
unique               6         1
top            Manzana     Fruta
freq                 2         8

In [94]:
# Para incluir todas las columnas (numéricas y no numéricas):
print("\nEstadísticas descriptivas para TODAS las columnas (df.describe(include='all')):")
display(df.describe(include='all')) # datetime_is_numeric para tratar fechas
print("\n" + "="*50 + "\n")

#Para columnas object, describe() muestra count (conteo), unique (valores únicos), top (valor más frecuente) y freq (frecuencia del valor más frecuente).

Estadísticas descriptivas para TODAS las columnas (df.describe(include='all')):

,ID_Producto,Nombre_Producto,Categoría,Precio_Unitario,Stock_Disponible,Fecha_Ingreso,En_Oferta
count,8.00000,8,8,7.000000,7.000000,8,8
unique,NaN,6,1,NaN,NaN,NaN,2
top,NaN,Manzana,Fruta,NaN,NaN,NaN,False
freq,NaN,2,8,NaN,NaN,NaN,4
mean,104.50000,NaN,NaN,1.185714,103.571429,2024-01-12 00:00:00,NaN
min,101.00000,NaN,NaN,0.500000,60.000000,2024-01-10 00:00:00,NaN
25%,102.75000,NaN,NaN,0.700000,77.500000,2024-01-10 18:00:00,NaN
50%,104.50000,NaN,NaN,1.200000,100.000000,2024-01-11 12:00:00,NaN
75%,106.25000,NaN,NaN,1.350000,130.000000,2024-01-13 06:00:00,NaN
max,108.00000,NaN,NaN,2.500000,150.000000,2024-01-15 00:00:00,NaN
std,2.44949,NaN,NaN,0.681734,34.243526,NaN,NaN

==================================================