## 1° paso: *Definición del problema:*

Predecir el ingreso total de ventas

In [1]:
## 2° paso: *Recolecctar datos:

In [2]:
import pandas as pd

#Cargar el dataset:
file_path = './datasets/BD_Ventas_Tech.xlsx' #Este no se toca, por eso se convierte en el dataframe
df = pd.read_excel(file_path)
display(df)

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Unnamed: 9
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,NaN
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,
...,...,...,...,...,...,...,...,...,...,...
22392,2022-08-31,L. - Alisha,"Estados Unidos, América del Norte",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,2.0,NaN
22393,2022-08-31,P. - Misty,"Brasil, América del Sur",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,1.0,NaN
22394,2022-08-31,H. - Jennifer,"Reino Unido, Europa",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,1.0,NaN
22395,2022-08-31,R. - Morgan,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN
22396,2022-08-31,R. - Fernando,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verm...,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,NaN

## Análisis exploratorio:

# Tarea:

- Realizar el análisis exploratorio: head, info, describe
- Aplicar contar nulos por columna: df.isnull().sum()

In [3]:
display(df.columns) #muestra las columnas que tiene el dataframe

Index(['Fecha De Venta', 'Nombre Cliente', 'Ubicación', 'Producto', 'Marca',
       'Categoría', 'Precio Unidad', 'Costo Unidad', 'Cantidad Vendida',
       'Unnamed: 9'],
      dtype='object')

In [4]:
display(df.head()) #muestra las primeras filas del dataframe

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Unnamed: 9
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,NaN
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,NaN
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,

In [5]:
df.info() #muestra la información del dataframe, como el tipo de dato de cada columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22397 entries, 0 to 22396
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fecha De Venta    22393 non-null  datetime64[ns]
 1   Nombre Cliente    22393 non-null  object
 2   Ubicación         22393 non-null  object
 3   Producto          22393 non-null  object
 4   Marca             22393 non-null  object
 5   Categoría         22393 non-null  object
 6   Precio Unidad     22393 non-null  float64
 7   Costo Unidad      22393 non-null  float64
 8   Cantidad Vendida  22393 non-null  float64
 9   Unnamed: 9        2 non-null      object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 1.7+ MB

In [6]:
df.describe() #muestra la descripción estadistica del dataframe

,Fecha De Venta,Precio Unidad,Costo Unidad,Cantidad Vendida
count,22393,22393.000000,22393.000000,22393.000000
mean,2021-07-12 21:19:10.270173696,159.222056,66.285008,1.982137
min,2020-06-01 00:00:00,4.980000,2.540000,1.000000
25%,2020-12-03 00:00:00,8.990000,4.130000,1.000000
50%,2021-06-25 00:00:00,70.130000,32.250000,1.000000
75%,2022-03-02 00:00:00,181.000000,82.320000,3.000000
max,2022-08-31 00:00:00,1650.000000,546.680000,5.000000
std,NaN,224.434256,85.966001,1.399530

In [7]:
print(f'nulos por columna\n{df.isnull().sum()}') #Cuenta cuantos nullos hay

nulos por columna
Fecha De Venta          4
Nombre Cliente          4
Ubicación               4
Producto                4
Marca                   4
Categoría               4
Precio Unidad           4
Costo Unidad            4
Cantidad Vendida        4
Unnamed: 9          22395
dtype: int64

In [8]:
try:
    # Crear el dataframe:
    df = pd.read_excel(file_path)

    #1. Realizar el proceso de limpieza del dataframe
    if 'Unnamed: 9' in df.columns:
        df = df.drop(columns = ['Unnamed: 9'])
        print ('Se ha eliminado la columna "Unnamed: 9"')

    #2. Eliminar filas con valores nulos:
    initial_rows = df.shape[0]
    df = df.dropna() #cuando es un metodo debe ir despues de la palabra parentesis
    row_dropped = initial_rows - df.shape[0]
    print(f'Hemos eliminado {row_dropped} filas con valores nulos')

    #3. Catear adecuadamente el tipo de dato: en este caso fecha
    df['Fecha de Venta'] = pd.to_datetime(df['Fecha De Venta'])
    print(f'Columna "Fecha de Venta" transformada a formato de fecha datatime')
    
    #4. Extraer las caracteristicaas de la fecha
    df['Año de Venta'] = df['Fecha de Venta'].dt.year
    df['Mes de Venta'] = df['Fecha de Venta'].dt.month
    df['Día de semana de Venta'] = df['Fecha de Venta'].dt.dayofweek # Lunes=0.... Domingo=6
    print(f'Caracteristicas de fecha (Año, Mes, Día de la semana), extraidas')

    #5. Impresiones:
    print("\nDataframe después de limpieza, primeras 5 filas:")
    print(df.head().to_markdown(index=False, numalign='left', stralign='left')) 
    print('\nInformación del dataframe después de la limpieza')
    print(df.info())
    print('\nValores Nulos despúes de la limpieza')
    print(df.isnull().sum().to_markdown(index=False, stralign='left'))

    #6. Guardar el dataframe en un archivo más eficiente para que no pese tanto
    df.to_pickle('./datasets/DB_Ventas_Tech_cleaned.pkl')
    print('Dataframe guardado en dataset "DB_Ventas_Tech_cleaned.pkl"')

except Exception as e:
    print(f"Error durante la limpieza y preparación {e}")

Se ha eliminado la columna "Unnamed: 9"
Hemos eliminado 4 filas con valores nulos
Columna "Fecha de Venta" transformada a formato de fecha datatime
Caracteristicas de fecha (Año, Mes, Día de la semana), extraidas

Dataframe después de limpieza, primeras 5 filas:
| Fecha De Venta      | Nombre Cliente   | Ubicación                         | Producto                    | Marca    | Categoría   | Precio Unidad   | Costo Unidad   | Cantidad Vendida   | Fecha de Venta      | Año de Venta   | Mes de Venta   | Día de semana de Venta   |
|:--------------------|:-----------------|:----------------------------------|:----------------------------|:---------|:------------|:----------------|:---------------|:-------------------|:--------------------|:---------------|:---------------|:-------------------------|
| 2020-06-01 00:00:00 | G. -  Martin     | Chile, América del Sur            | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020-06-01 00:00:00 | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Victor     | Alemania, Europa                  | 360 Ventilador Pro          | Sonos    | Ventilador  | 215.62          | 71.44          | 1                  | 2020-06-01 00:00:00 | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | G. -  Whitney    | Estados Unidos, América del Norte | Simulador de Combate 3 E119 | Kid Toys | Juegos      | 28              | 14.28          | 1                  | 2020-06-01 00:00:00 | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | A. -  Wayne      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020-06-01 00:00:00 | 2020           | 6              | 0                        |
| 2020-06-01 00:00:00 | R. -  Devin      | Estados Unidos, América del Norte | Age of Mythology 2009 E158  | Kid Toys | Juegos      | 32              | 16.31          | 1                  | 2020-06-01 00:00:00 | 2020           | 6              | 0                        |

Información del dataframe después de la limpieza
<class 'pandas.core.frame.DataFrame'>
Index: 22393 entries, 0 to 22396
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha De Venta          22393 non-null  datetime64[ns]
 1   Nombre Cliente          22393 non-null  object
 2   Ubicación               22393 non-null  object
 3   Producto                22393 non-null  object
 4   Marca                   22393 non-null  object
 5   Categoría               22393 non-null  object
 6   Precio Unidad           22393 non-null  float64
 7   Costo Unidad            22393 non-null  float64
 8   Cantidad Vendida        22393 non-null  float64
 9   Fecha de Venta          22393 non-null  datetime64[ns]
 10  Año de Venta            22393 non-null  int32
 11  Mes de Venta            22393 non-null  int32
 12  Día de semana de Venta  22393 non-null  int32
dtypes: datetime64[ns](2), float64(3), int32(3), object(5)
memory usage: 2.1+ MB
None

Valores Nulos despúes de la limpieza
|   0 |
|----:|
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
Dataframe guardado en dataset "DB_Ventas_Tech_cleaned.pkl"

## Paso 3°: Ingenieria de Modelo:

In [29]:
from sklearn.preprocessing import OneHotEncoder #libreria para llenar vacios

In [30]:
from sklearn.compose import ColumnTransformer #libreria para transformar columnas

In [31]:
from sklearn.model_selection import train_test_split #libreria para el entrenamiento

In [32]:
import joblib #libreria para guardar el modelo

In [33]:
import scipy.sparse #libreria diseñado para manejar eficientemente matrices dispersas (sparse matrices), es decir, matrices que contienen una gran cantidad de ceros.

In [34]:
# traer el archivo
file_path = './datasets/DB_Ventas_Tech_cleaned.pkl'

In [ ]:
    # 1. Empezamos con la ingeneria del modelo
try:
        df = pd.read_pickle(file_path)
        print(f'Cargado el dataframe desde {file_path}, exitosamente')
        display(df)
    
        # a. Empezamos con la ingenería de caracteristicas
        df['Margen de Ganancia'] = df['Precio Unidad'] - df['Costo Unidad'] #Margen de ganacia por unidad
        print (f'Caracteristica \'Margen de Ganancia\' creada')
    
        #b. Ingenería de caracteristicas: ingreso total de venta
        df['Ingreso Total Venta'] = df['Precio Unidad'] * df['Cantidad Vendida']
        print(f'Caraceristica \'Ingreso Total Venta\' creada')
           
        #c. Ingenería de caracteristicas: Ganancia total de venta
        df['Ganancia Total Venta'] = df['Margen de Ganancia'] * df['Cantidad Vendida']
        print(f"Caracteristica \'Ganancia Total Venta\' creada")
    
        # d. Selección de la variable objetivo
        target_variable = 'Ingreso Total Venta'
    
    # Excluimos las columnas que no se usan y las que usamos para calcular el target_variable, e incluso  esta misma para evitar el sobre costeo de data (data leak)
     
    # Caracteristicas a descartar:
        feacture_to_exclude = ['Fecha de venta', 'Nombre Cliente', target_variable, 'Precio Unidad', 'Cantidad Vendida']
        feacture = [col for col in df.columns if col not in feacture_to_exclude]
       
    # Identificar caracteristicas categoricas y númericas:
        categorical_feacture = df[feacture].select_dtypes(include = ['object']).columns
        numerical_feacture = df[feacture].select_dtypes(include = ['int64', 'float64', 'int32']).columns
       
    #imprime el resultado:
        print(f'Variable objetivo: {target_variable}')
        print(f'Caracteristicas Categoricas: {list(categorical_feacture)}')
        print(f'Caracteristicas Númericas: {list(numerical_feacture)}')
    
        # e. Codificar variables categoricas (One-Hot-Encoding) y pasar númericas:
        preprocessor = ColumnTransformer(
            transformers = [
                ('num', 'passthrough', numerical_feacture),
                ('cat', OneHotEncoder(handle_unknown = "ignore"),categorical_feacture)
            ]
        )
    
        # f. Aplicar transformaciones:
        x = df[feacture]
        y = [target_variable]
    
        x_processed = preprocessor.fit_transform(x)
    
    # g. Convertir en un arreglo denso si es una matriz dispersa:
        if scipy.sparse.issparse(x_processed):
            x_processed = x_processed.toarray()
    
    # h. Obtenemos los nombres de las nuevas columnas despues del preprocesamiento:
        all_feacture_names = preprocessor.get_feacture_names_out()
    
        x_processed_dataframe = pd.DataFrame(x_processed, columns = all_feacture_names, index = df.index)
        #impresiones
        print (f'Dataframe después de la ingeniera de caracteristicas y codificación:')
        display(x_processed_Dataframe.head())
        print(f'Dimensiones del dataset despues de la ingeniera de caracteristicas y codificación:')
        print(x_processed_dataframe.shape)
    
    # i. Guardar el modelo generado:
        joblib.dump(preprocessor, './Modelo/pre_rf_model.pkl')
    # j. Guardar
        x_processed_dataframe.to_pickle('./datasets/x_processed_dataframe_df.pkl')
        
except Exception as e:
        print(f'Error presentado al guardar el modelo {e}')

Cargado el dataframe desde ./datasets/DB_Ventas_Tech_cleaned.pkl, exitosamente

,Fecha De Venta,Nombre Cliente,Ubicación,Producto,Marca,Categoría,Precio Unidad,Costo Unidad,Cantidad Vendida,Fecha de Venta,Año de Venta,Mes de Venta,Día de semana de Venta
0,2020-06-01,G. - Martin,"Chile, América del Sur",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,2020-06-01,2020,6,0
1,2020-06-01,R. - Victor,"Alemania, Europa",360 Ventilador Pro,Sonos,Ventilador,215.62,71.44,1.0,2020-06-01,2020,6,0
2,2020-06-01,G. - Whitney,"Estados Unidos, América del Norte",Simulador de Combate 3 E119,Kid Toys,Juegos,28.00,14.28,1.0,2020-06-01,2020,6,0
3,2020-06-01,A. - Wayne,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,2020-06-01,2020,6,0
4,2020-06-01,R. - Devin,"Estados Unidos, América del Norte",Age of Mythology 2009 E158,Kid Toys,Juegos,32.00,16.31,1.0,2020-06-01,2020,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22392,2022-08-31,L. - Alisha,"Estados Unidos, América del Norte",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,2.0,2022-08-31,2022,8,2
22393,2022-08-31,P. - Misty,"Brasil, América del Sur",Headphone Azultooth M150 Azul,Ninja,Auriculares Bluetooth,149.99,49.69,1.0,2022-08-31,2022,8,2
22394,2022-08-31,H. - Jennifer,"Reino Unido, Europa",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,1.0,2022-08-31,2022,8,2
22395,2022-08-31,R. - Morgan,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verde,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,2022-08-31,2022,8,2
22396,2022-08-31,R. - Fernando,"Estados Unidos, América del Norte",Wireless Azultooth Stereo Headphones M402 Verm...,Ninja,Auriculares Bluetooth,99.99,45.98,3.0,2022-08-31,2022,8,2

Caracteristica 'Margen de Ganancia' creada
Caraceristica 'Ingreso Total Venta' creada
Caracteristica 'Ganancia Total Venta' creada
Variable objetivo: Ingreso Total Venta
Caracteristicas Categoricas: ['Ubicación', 'Producto', 'Marca', 'Categoría']
Caracteristicas Númericas: ['Costo Unidad', 'Año de Venta', 'Mes de Venta', 'Día de semana de Venta', 'Margen de Ganancia', 'Ganancia Total Venta']
Error presentado al guardar el modelo 'ColumnTransformer' object has no attribute 'get_feacture_names_out'